@model IEnumerable<CVGenerator.Models.Curriculum>

@{
    ViewBag.Title = "Index";
}

<h2>Explora Colegas</h2>


<p>
    @Html.ActionLink("Crear Nuevo", "Crear")
</p>

<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <!--<nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Grid</li>
            </ol>
        </nav>-->
        <!-- /Breadcrumb -->

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">

            @foreach (var item in Model)
            {
                <div class="col mb-3">
                    <div class="card">
                        <img src="https://via.placeholder.com/340x120/FFB6C1/000000" alt="Cover" class="card-img-top">
                        <div class="card-body text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" style="width:100px;margin-top:-65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                            <h5 class="card-title">    @Html.DisplayFor(modelItem => item.nombre)    @Html.DisplayFor(modelItem => item.apellido)</h5>
                            <p class="text-secondary mb-1">   @Html.DisplayFor(modelItem => item.profesion)</p>
                            <p class="text-muted font-size-sm">    @Html.DisplayFor(modelItem => item.Pais.descripcion) </p>
                            @Html.ActionLink("Ver mas", "Detalle", new { id = item.id }, new { @class = "btn btn-block btn-primary btn-large" })
                        </div>
                        <div class="card-footer text-muted text-center">

                            @if (User.Identity.IsAuthenticated)
                            {
                                @Html.ActionLink("Editar", "Editar", new { id = item.id }, new { @class = "card-link" })
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.id }, new { @class = "card-link" })
                            }
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
